.navbar {
    background-color: black !important;
    color: white;
}

footer {
    background-color: black !important;
    color: white !important;
}

a {
    color: inherit;
}

.active {
    background-color: aliceblue;
    border-radius: 12px;
    color: black !important;
}

.title_des {
    font-family: "Audiowide", sans-serif;
}

body {
    font-family: "Audiowide", sans-serif;
}

a:hover {
    color: red !important;
    /* Change to your desired color */
}
.card{
    padding: 20px !important;
}

button:hover {
    color: red !important;
    /* Change to your desired color */
}

/* Loader.css */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999; /* Ensure it appears above other content */
  }
  